<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover</Format>
          <Include>[CaptionGen.Api]*,[CaptionGen.Application]*,[CaptionGen.Infrastructure]*</Include>
          <Exclude>[CaptionGen.Domain]*,[CaptionGen.Tests.*]*,[*.Tests.*]*</Exclude>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/Contracts/**/*.cs,**/Migrations/**/*.cs,**/*.Designer.cs</ExcludeByFile>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
